* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    width: 75%;
}

.breakpoints {

    height: 100%;
}

.breakpoints > div {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    font-size: 1.5rem;
    height: 50px;
    padding: 0.5rem;
    width: auto;
}

.breakpoints h1 {
    padding: 2rem;
    margin-bottom: 2rem;
}

@media (max-width: 1200px) {
    body {
        background-color: rgba(58, 58, 52, 0.267);
        color: blanchedalmond;
    }

    .container {
        width: 100%;
    }
}

@media (max-width: 1188px) {
    .breakpoints > div {
        display: block;
    }

    .breakpoints > div:not(:last-child) {
        border-bottom: none;
    }

}